<div class="Conditions">
  <div class="Conditions-lowerBar">
    <div class="Conditions-numberContainer">
      <div
        class="Conditions-number"
        [ngStyle]="{backgroundColor: color}"
      >
        {{number}}
      </div>
    </div>
    <supre-toggle
      (toggleUpdated)="onConjunctionChange($event)"
      [items]="[
        {text: 'and'},
        {text: 'or'}
      ]"
    >
    </supre-toggle>
    <div *ngIf="(store$ | async).conjunction" class="Conditions-match">
      <span class="Conditions-matchText">Meets <b>{{ (store$ | async).conjunction === 'and' ? 'ALL' : 'ANY' }}</b> of the selected</span>
      |
      <span class="Conditions-matchText">Estimated audience: <b>{{audienceNumber | number }} | {{audiencePercent * 100 | number : '1.2-2'}}%</b></span>
    </div>
    <div *ngIf="!(store$ | async).conjunction" class="Conditions-match">
      <span class="Conditions-matchText">Select an operator to begin building this condition</span>
    </div>
    <div class="Conditions-actions">
      <supre-toggle
        (toggleUpdated)="onActionsGroupChange($event)"
        [unrelated]="true"
        [items]="[
          {icon: 'ion-ios-loop-strong', value: 'clear', disabled: !(store$ | async).conjunction},
          {icon: 'ion-funnel', value: 'sort', disabled: !(store$ | async).conjunction},
          {icon: 'ion-android-arrow-dropdown-circle', value: 'chooser', disabled: !(store$ | async).conjunction}
        ]"
      >
      </supre-toggle>
    </div>
  </div>
</div>
