.Conditions {
  background-color: white;
  font-family: verdana;
}
.Conditions-lowerBar {
  display: flex;
  background-color: white;
  height: 32px;
  width: 100%;
  border: 1px solid #c2cdd8;
}
.Conditions-numberContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 6px;
}
.Conditions-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: .7em;
}
.Conditions-match {
  display: flex;
  align-items: center;
  color: #55595c;
}
.Conditions-matchText {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: #55595c;
}
.Conditions-actions {
  margin-left: auto;
}
supre-toggle {
  display: block;
  margin-top: -1px;
}
